/*base and fonts*/ 

:root{
    --newspapersize: 1.25px; /* for the button*/
    --bignewspapersize: 3px; /* for the article page*/
}

@font-face {
    font-family: 'Type-face';
    src: url('fonts/Chomsky.otf');
}

body{ /*background, etc*/
    background: linear-gradient(90deg,#ddd,#fff);
    margin: 0;
    padding: 0;
}

header{ /* just for the header*/
    background-color: darkgray;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    text-align: center;
    margin: 0;
    font-family: Type-face, sans-serif;
}

/*animations and animation classes*/

@keyframes newspaperhover {
    from { top: 0px; }
    to { top: -25px; }
}

.animationup{
    animation-name: newspaperhover;
    animation-duration: .1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes newspapernormal {
    from { top: -25px; }
    to { top: 0px; }
}

.animationdown{
    animation-name: newspapernormal;
    animation-duration: .1s;
    animation-fill-mode: forwards;
}

@keyframes fullfadein{
    from { opacity: 0;}
    to {opacity: 1;}
}

.fullfadein{
    animation-name: fullfadein;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes fullfadeout{
    from { opacity: 1;}
    to {opacity: 0;}
}

.fullfadeout{
    animation-name: fullfadeout;
    animation-duration: .2s;
    animation-fill-mode: forwards;
}

@keyframes article-come-in{
    from {bottom: 0; height: 0;}
    to {bottom: 0;height: 92vh;}
}

.article-in{
    animation-name: article-come-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: fixed;
}

@keyframes article-come-out{
    from {bottom: 0; height: 92vh;}
    to {bottom: 0;height: 0vh;}
}

.article-out{
    animation-name: article-come-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: fixed;
}

/*other classes*/

.box {
    display:inline-grid;
    font-size:35px;
    font-weight:bold;
    width:198px;
    height:198px;
    bottom: 0;
    text-align: center;
    cursor: pointer;
  }

.box-small {
    position: relative;
    display:inline-grid;
    place-content:space-evenly;
    font-size:35px;
    font-weight:bold;
    width:200px;
    height: 200px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 1.5em;
    margin: 0;
    z-index: 5;
}

.shelf{
    display:grid
}

.shelf-back {
    display: grid;
    place-content: space-evenly;
    height: 275px;
    width: 275px;
    background-color: #966F33;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.shelf-front {
    height: 150px;
    width: 275px;
    background-color: #966F33;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    position: relative;
    top:-152px;
}

.one {
    background:
      radial-gradient(var(--newspapersize) at 25% 50% ,white 99%,#0000 101%) top/calc(var(--newspapersize) * 4) calc(var(--newspapersize) * 2) repeat-x,
      radial-gradient(var(--newspapersize) at 75% 0%,#0000 98%,white) 50% var(--newspapersize)/calc(var(--newspapersize) * 4) 100% repeat-x; 
}

.one-small{
    background:
    radial-gradient(var(--newspapersize) at 25% 50% ,black 99%,#0000 101%) top/calc(var(--newspapersize) * 4) calc(var(--newspapersize) * 2) repeat-x,
    radial-gradient(var(--newspapersize) at 75% 0%,#0000 98%,black) 50% var(--newspapersize)/calc(var(--newspapersize) * 4) 100% repeat-x;
}

.section-front{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-back{
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-front-waves{
    background:
      radial-gradient(var(--bignewspapersize) at 25% 50% ,white 99%,#0000 101%) top/calc(var(--bignewspapersize) * 4) calc(var(--bignewspapersize) * 2) repeat-x,
      radial-gradient(var(--bignewspapersize) at 75% 0%,#0000 98%,white) 50% var(--bignewspapersize)/calc(var(--bignewspapersize) * 4) 100% repeat-x; 
}

.article-front {
    font-size:35px;
    font-weight:bold;
    width:calc(100vw - 2px);
    max-width:798px;
    height:auto;
    margin-top: 1px;
    margin-bottom: .5px;
    bottom: 0;
    text-align: center;
    min-height: 99.5vh;
}

.article-back-waves{
    background:
    radial-gradient(var(--bignewspapersize) at 25% 50% ,black 99%,#0000 101%) top/calc(var(--bignewspapersize) * 4) calc(var(--bignewspapersize) * 2) repeat-x,
    radial-gradient(var(--bignewspapersize) at 75% 0%,#0000 98%,black) 50% var(--bignewspapersize)/calc(var(--bignewspapersize) * 4) 100% repeat-x;
}

.article-back{
    position: relative;
    display:inline-grid;
    place-content:space-evenly;
    font-size:35px;
    font-weight:bold;
    width: 100vw;
    max-width: 800px;
    height: auto;
    min-height: 100%;
    margin-top: 50px;
}

.container {
    width: 100vw;
    max-width: 802px; /* Set the desired width */
    height: 92vh; /* Set the desired height */
    overflow: auto;
    scrollbar-width: none;
    margin: 0;
    margin-top: -24px;
  }

.container p{
    font-size: 0.5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    margin: 0;
    padding: 0;
    line-height: 1.2em; 
    margin-left: 5px;
    margin-bottom: 15px;
}

.container img{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
}

.center {
    display: grid;
    align-items:flex-start;
    justify-items: center;
    margin: 0;
}

.container h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-bottom: 10px;
}

.container::-webkit-scrollbar {
    width: 0; /* Set the scrollbar width */
}

.back-button{
    display: inline-flex; /* Use flexbox to center the content */
    align-items: center; /* Center items vertically */
    padding: 10px 20px;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid black; /* Border color */
    background-color: lightgrey; /* Button color */
    color: black; /* Text color */
    border-radius: 5px; /* Rounded corners */
    width: 100px;
    height: 12px;
    cursor: pointer;
}

/*ids*/
#masthead {
    text-align: center;
    word-wrap: normal;
    vertical-align: text-top;
}

    